body,
html {
	background-color: #fafafa;
	color: #424242;
	cursor: default;
	font: normal 15px 'Montserrat', sans-serif;
	font-display: swap;
	height: 100%;
	margin: 0px;
	padding: 24px;
	width: calc(100% - 2 * 24px);
}

a {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 84px;
	margin-top: 24px;
}

h2 {
	font-size: 36px;
	margin-top: 84px;
}

h3 {
	font-size: 24px;
	margin-top: 48px;
}

.button {
	background-color: #e0e0e0;
	border: none;
	color: #424242;
	font-size: 15px;
	margin: 12px;
	padding: 12px;
}

.primary {
	color: #2196f3;
}

.profile {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	margin: 12px;
}

.profile img {
	border-radius: 50%;
	width: 216px;
}

.secondary {
	color: #0d47a1;
}

.tag {
	display: inline-block;
	background-color: #e0e0e0;
	border-radius: 12px;
	margin: 24px 6px 12px 6px;
	padding: 6px;
}

#devs {
	display: block;
}

#header img {
	margin-top: 120px;
	width: 120px;
}

@media only screen and (min-width: 840px) {
	#devs {
		display: flex;
		justify-content: space-evenly;
	}
}
